<html>
  <head>
    {{> meta }}
  </head>
  <body>
    {{> header }}
    <h1>Hello World!!</h1>
    
    {{> component }}

    {{> features/features }}

    {{> cta/cta }}
  
    {{> footer/footer }}
  </body>
</html>