<footer class="footer">

    <div class="container">

        <div class="footer__layout">

            <div class="footer__subscribe">
                {{> subscribe/subscribe }}
            </div>

            <nav class="footer__nav">
        
                <div class="footer__menu">
                    <a href="#" class="footer__link">Home</a>
                    <a href="#" class="footer__link">Services</a>
                    <a href="#" class="footer__link">Training</a>
                    <a href="#" class="footer__link">Resources</a>
                    <a href="#" class="footer__link">About Us</a>
                </div>
                
                <div class="footer__menu">                
                    <a href="#" class="footer__link">SME</a>
                    <a href="#" class="footer__link">Solution</a>
                    <a href="#" class="footer__link">Reviews</a>
                    <a href="#" class="footer__link">Blog</a>
                </div>

                <div class="footer__menu">
                    <a href="#" class="footer__link">Contact Us</a>
                    <a href="#" class="footer__link">Place A Call</a>
                    <a href="#" class="footer__link">Email</a>
                    <a href="#" class="footer__link">Wischool@gmail.com</a>
                </div>

                <div class="footer__menu footer__menu--desktop">
                    <a href="#" class="footer__link">Job Opening</a>
                    <a href="#" class="footer__link">News</a>
                    <a href="#" class="footer__link">Research</a>
                </div>

                <div class="footer__menu footer__menu--desktop">
                    <a href="#" class="footer__link">UK Privacy Policy</a>
                    <a href="#" class="footer__link">Terms Of Use</a>
                </div>

            </nav>    

            <div class="footer__brand">
                <img src="/wischool.svg" alt="WiSchool Logo">
                <p class="footer__tagline">We are not here to sell you products, we sell value through our expertise.</p>
            </div>

            <div class="footer__social">
                {{> social/social }}
            </div>

        </div>

    </div>

</footer>
