<div class="social">
    <nav class="social__nav">
        <a href="#" target="_blank"><img src="/Facebook.svg" alt="Facebook"></a>
        <a href="#" target="_blank"><img src="/Twitter.svg" alt="Twitter"></a>
        <a href="#" target="_blank"><img src="/Instagram.svg" alt="Instagram"></a>
        <a href="#" target="_blank"><img src="/LinkedIn.svg" alt="LinkedIn"></a>
    </nav>
</div>