<div class="features">
    <div class="container">
        <div class="features__layout">
            
            <h2 class="features__title">We Bring The Good Education To Life</h2>

            <div class="features__photo-container">
                <img src="/featuresphoto.svg" alt="Photograph" class="features__photo">
                <img src="/featuresphotolarge.svg" alt="Large Photograph" class="features__photo-large">
            </div>

            <div class="features__card">
                <img src="/jobopportunities.svg" alt="Feature Card" class="features__overlay">
            </div>

            <div class="features__card-large">
                <img src="/jobopportunitieslarge.svg" alt="Large Feature Card" class="features__overlay-large">
            </div>

            <div class="features__list-container">
                <h1 class="features__list-title">Let Your Education Do The Walking</h1>
                <ul class="features__list">
                    <li>
                        <picture>
                            <source srcset="/book-large.svg" media="(min-width: 992px)">
                            <img src="/book.svg" alt="Icon" class="features__icon">
                        </picture>
                        Free E-book, Videos and kits
                    </li>
                    <li>
                        <picture>
                            <source srcset="/clock-large.svg" media="(min-width: 992px)">
                            <img src="/clock.svg" alt="Icon" class="features__icon">
                        </picture>
                        Learn at your own pace
                    </li>
                    <li>
                        <picture>
                            <source srcset="/suitcase-large.svg" media="(min-width: 992px)">
                            <img src="/suitcase.svg" alt="Icon" class="features__icon">
                        </picture>
                        Collaborate with different learners around the globe
                    </li>
                    <li>
                        <picture>
                            <source srcset="/people-large.svg" media="(min-width: 992px)">
                            <img src="/people.svg" alt="Icon" class="features__icon">
                        </picture>
                        Top instructors around the globe
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>    