<!-- variable from Webpack config -->
<title>{{ title }}</title>
<!-- relative path to SCSS source file -->
<link href="../../../scss/main.scss" rel="stylesheet" />
<!-- relative path to JS source file -->
<script src="../../../js/index.js" defer="defer"></script>