<div class="cta">
    <div class="container">
        <div class="cta__layout">
            <h1 class="cta__title">You Don't Have To See The Whole Staircase Just Take The First Step</h1>
            <p class="cta__description">Amet in a suspendisse convallis eget, Amet in a suspendisse convallis egetAmet in a</p>

            <section class="cta__buttons">
                <button class="cta__btn-primary">Get Started</button>
                <button class="cta__btn-secondary">Place a Call</button>
            </section>

            <!-- Desktop-only Image -->
            <img src="/ctaphoto.svg" alt="Photograph" class="cta__photo">
        </div>
    </div>
</div>